    html { overflow-y: scroll; }

    body {
        margin: auto; /* center in viewport */
    }
    footer, header { 
        display: block; 
    }
    h1 {
        margin-top: 1em;
        text-align: center;
        font-weight: bold;
    }
    #container {
        margin: auto 10px;
        text-align:center;
    }
    #nav {
        font-size:123.1%; /* renders 16px */
    }
    a {
        text-decoration:none;
        color: #00f;
        outline:none;
    }
    a:hover, a:focus {
        color:#f60;
    }
    p {
        text-align:justify;
        width: 50%;
        margin: 0 auto 1em auto;
    }
    img {
        border:0px;
        cursor: pointer; 
    }
    footer {
        color:#767676;
        font-size:85%;  /* renders 11px */
        text-align:center;
    }
    .yui3-js-enabled .yui3-tabview-loading {
        display: none;
    }
    .shadow {
        -moz-box-shadow: 3px 3px 4px #767676;
        -webkit-box-shadow: 3px 3px 4px #767676;
        box-shadow: 3px 3px 4px #767676;
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#767676')";
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#767676');
        border-style: solid;
        border-width: 1px;
        border-color: #a3a3a3;
    }
    .g-plusone {
       float:left; 
    }
    .repCategory {
        margin-top: 1em;
    }
    #welcome {
        font-size: 138.5%; /* renders 18px */
    }
    #heading {
        margin-bottom: 1em;
        font-size: 197%; /* renders 26 px */
        color: #00008b;
    }
    #main {
         margin: 1em 0 1em 0; 
         text-align: center;
         font-size: 123.1%; /* renders 16px */
         visibility: hidden;
    }
    #slideshow {
        height: 385px;
        width: 385px;
        margin: 0 auto;
        text-align: left;
    }
    .slideshow {position: relative; height: 385px; width: 385px; overflow: hidden;}
    .slideHolder {position: relative; height:385px; width: 385px;}
    .slide { display: none; position: absolute; }
    .slide.current { display: block; }
    .inactive {color: #ccc; }
    ::-moz-selection { 
        background: #f60; 
        color: #fff; 
        text-shadow: none; 
    }
    ::selection { 
        background: #f60; 
        color: #fff; 
        text-shadow: none; 
    }
